$spacer: 1rem;
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;

$color1: #A66851;
$color2: #BF988A;
$color3: #D9D4D2;
$color4: #734338;
$color5: #A63B32;

$color6: #82FF64;


//$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:  0.8;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Parisienne&family=Roboto+Condensed&family=Water+Brush&display=swap');
//npm run uild
//npm run servidor(nombre)

.nav-link{
    color: white;
    
}
.estiloslogo{
    margin-left: 5%;
}

.dropdown-item{
    color: white;
}
/*&:hover{
    animation-name: example;
}*/


.pestañas{
    margin: 150px;

}
.centered1{
    color: white;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size:90.4781pt;
}
.sub1{
    font-family: 'Montserrat', sans-serif;
    font-size:36pt;
    color: #D3CECC;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.barra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-fluid{
    margin: 0;
    padding: 0;
    
}
.IMGT1{
    width: 100%;
    height: auto;
}
.section3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:30pt;

    padding: 20rem;
    
    background-color: white;
}

body{
    overflow-x: 0;
}

.galeria1{
    margin-top: 5rem;

}

.m{
margin: 0;
}

.barraModal{
    height: 100px;
}

.containerGaleria{
   
    background-color: rgb(0, 0, 0);
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    height: 72%;
}

.containerGaleria1{
    //background-color: rgb(0, 0, 0);
    background: $modal-backdrop-opacity;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    height: 72%;
}
.CoseBTGaleria{
    margin-right: 1%;
}
.TituloGaleria{
    color: white;
    
}

.Seccion2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15%;
    
}
.botonCV{
    margin-top: 10%;
    background-color: $color1;
    color: white;
    padding: 2%;
    font-size: 18pt;
    //font-family: 'Montserrat', sans-serif, ;

    &:hover{
        background-color: $color2;
    }
    
}
.margen{
    
    font-size: 14pt;
    padding: 15%;
    
}
.alineacion{
    font-size: 14pt;
    text-align: justify;
}
//footer
.containerBackgorund{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 5%;
}
.logoFooter{
    width: 50%;
    height: auto;
    margin-top: 15%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .contactos{
    padding: 5%;
  }
  .contactoResponsivo{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .textoContactos{
    color: white;
    text-decoration: none;
    margin-left: 3%;
    font-size: 18pt;
    a:hover {
        text-decoration-color: #A66851;
      }

      a:active {
        color: hotpink;
      } 
  }