---
import Layout from '../layouts/Layout.astro';
import CaruselPortada from '../components/Carusel-portada.astro';
import "../estilos/estilos_principales.scss";

import Galeria, {GaleriaConfig} from "../components/Galeria.astro";
import GaleriaModal, {GaleriaModalConfig} from "../components/GaleriaModal.astro";
---

	
<body>
	<Layout title="Contacto">
		<main>
			
			<!--Seccion de formulario de contacto -->


		</main>

	</Layout>
	
	
	 
</body>

