---
import Layout from '../layouts/Layout.astro';
import "../estilos/estilos_principales.scss";

---

<Layout title="Proyecto Smeraldo">
	<main>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 imagenProyect">
						<img class="center2 " src="/elementos/smeraldoProyecto.png" alt="">
					</div>
					<div class="col-md-6">
						<div class="textoalingProyect mt-5">
							<h4 class="tituloProyecto">PROYECTO</h4>
							<p class="textoProyecto">"Flor de Smeraldo", es un proyecto personal, con el concepto de la aceptacion y el amor propio, con la intencion de reflejar tranquilidad y armonia.</p>

						</div>
						<div class="">
							<img class="w-100 mb-5" src="/Galeria2/B00.png" alt="">
						</div>
						
						
						
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid backgroundMoodboard">
				<div class="row">
					<div class="col-md-6 estilosMoodboard mt-5">
						<h4 class="tituloMoodboard">INSPIRACION</h4>
						<p class="textMoodboard">
							Mi primera fuente de inspiracion fue la cancion “The Truth Untlod” del grupo coreano Bantang Seoyondan,
							que a su vez esta inspirada en  "La Leyenda de la Flor de Smeraldo" una historia nacida en un pequeño poblado de Italia.
						</p>
						<p class="textMoodboard">
							La flor de smeraldo representa una belleza sin igual, inexistente en la mente humana, unica y por lo tanto un es una valiosa flor.
						</p>
						
					</div>
					<div class="col-md-6">
						<div class="imageCenter	">
							<img class="w-100 " src="/elementos/loveyouself.png" alt="">

						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 estilosMoodboard">
						<h4 class="titleM">MOODBOARD</h4>
						<p class="testM">
							En edicion la paleta de colores es especialmente calida con la intencion de resaltar la piel morena. 
							Por este motivo el agua debia ser presisamente blanca para resaltar todo lo que alguna vez fue un complejo para mi.
						</p>
					</div>
					<div class="col-md-6">
						<img class="paletaPropiedades" src="/Proyecto/paleta.png" alt="">
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid  backgorundProces">
				<div ><h5 class="titleProces1 ">PROCESO</h5></div>
				<div class="row">

				<div class="col-lg-4 estilosColumna">
					<h3 class="titleProces">Uno</h3>
					<p class="textProces">
						Realice una investigacion sobre la lectura "La Citta Di Smeraldo", realice una lluvia de ideas que representaran la
						historia, el mensaje y sentimientos que buscaba trasmitir con las fotos que realizara.
					</p>
				</div>
				<div class="col-lg-4 estilosColumna">
					<h3 class="titleProces">Dos</h3>
					<p class="textProces">
						Despues de tener el boceto de la composicion, elabore una lista detallada de materiales y elementos que necesitaba para el proyecto, 
						entre esas cosas lo mas importante era conseguir la picina, la pintura blanca y las rosas.
					</p>
				</div>
				<div class="col-lg-4 estilosColumna">
					<h3 class="titleProces">Tres</h3>
					<p class="textProces">
						Antes de realizar la sesion fotografica me asegure de tener las suficientes referencias de maquillaje, poses fotograficas, 
						encuadres, direccion de luz y gesticulaciones. 

					</p>
				</div>
				</div>
				
			</div>
		</section>

		<section>
			<div class="cointainer-fluid">
				<div class="row">
					<div class="col-lg-6 contenedorSmarphone">
						<img class="imgSmarphone" src="/descargas/SmeraldoPhon.png" alt="Una de mis fotos como wallpaper">
					</div>
					<div class="col-lg-6">
						<div class="centerDescargaBoton">
							<h2 class="tituloDescarga">
								Obten un fondo esclusivo de Smeraldo!
							</h2>
							
							<a type="bottom" class="btn btn-primary propiedadesBotonD mt-5 mb-5" download="YaredVF_Wallpaper_Smeraldo" href="/descargas/Smeraldo_Wallpaper.jpg">Descargar</a>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</main>	
</Layout>